{% extends "layout.njk" %}
{% block content %}
<main class="container"> 
    <h1>{{title}}</h1>
    <ul>
        {% for weapon in weapons %}
        <li> <a href="/dbtest/{{weapon.id}}"> {{weapon.name}}</a></li>
        {% endfor %}
    </ul>

    <p> <a href="/new_attack">Add attack </a></p>
    <p> <a href="/remove_attack">Remove attack</a></p>

</main>
{% endblock %}