{% extends "layout.njk" %}
{% block content %}
<main>
    <div id="sadge">
        <p>sadge</p>
    </div>
    <div class="container" >

        <h1>Weapon name</h1>
        
        <p>Dripper, french press saucer rich variety half and half caramelization kopi-luwak barista. In single origin qui aftertaste mocha a beans mocha variety. Aroma chicory galão robust single origin extraction beans. 
            Medium cream macchiato aromatic robusta breve barista. Qui et rich, dark siphon crema medium steamed siphon. Fair trade, cream, aromatic java caffeine iced fair trade at flavour irish.</p>

        <h2>Moveset</h2>

        <ul>
            <li>
                <p></p>
            </li>
            <li>pog</li>
            <li>wow</li>
        </ul>



    </div>
</main>



{% endblock %}