{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <div class="weapon" >
        <h1>{{title}}</h1>
        {% if image_id == 1 %}
        <img src="/sword_shield.png" alt="wow">
        {% endif %}
    </div>
    <h2>
        {{description}}

    </h2>
    
    <ul>
        {% for attack in weapon %}
            <li style="font-size: 1.5rem;" >{{attack.input}}: {{attack.attack_description}}, mv {{attack.mv}}</li>
        {% endfor %}
    </ul>


</main>
{% endblock %}